<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>registry</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/navbar.css" >
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body id="body">
        <script src="/js/buttons.js"></script>
        <nav class="navbar navbar-default" id="nav">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Retriever</a>
                </div>
                <ul class="navbar navbar-nav">
                    <button class="btn" id="nav" onclick="tosearch()">Contact Search</button>
                </ul>
                <ul class="navbar navbar-nav">
                    <button class="btn" id="nav" onclick="tologin()">Sign In</button>
                </ul>
                <ul class="navbar navbar-nav">
                    <button class="btn" id="nav" onclick="tosignup()">Sign Up</button>
                </ul>


            </div>
        </nav>



        <form action="/register" id="form" class="form-vertical" method="POST">
            <div class="input-group" id="cent">
        
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="text" id="firstname" name="firstname" required>
                <label for="firstname" id="em">First Name</label>
            </div>
 
            <div class="input-group" id="cent">
        
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="text" id="lastname" name="lastname" required>
                <label for="lastname" id="em">Last Name</label>
            </div>
            <div class="input-group" id="cent">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input type="email" id="email" name="email" required>
                <label for="email" id="em">Email</label>
            </div>
            <div class="input-group" id="cent">
                <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                <input type="text" id="number" name="number" required>
                <label for="number" id="em">Phone Number</label>

            </div>
            <section>
                <button id="POST" type="submit" class="btn">Submit</button>
            </section>
        </form>
        
        <p id="dbc">Here you can enter names into the the directory table of the database</p>
    </body>
</html>