
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>File upload</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div>
            <form action="/upload" class="form-vertical" method="post">
                <input type="file" id="file" class="file">
                <button type="submit" id="submit" name="submit">Submit</button>
            </form>
        </div>
        <script type="text/javascript" src="https://map.nga.mil/api/mow.js">
                map = null;
                MoW.ready(function() {
                    map = new MoW.Map({target: 'map'});
                });
        </script>
    </body>
</html>