*{
    align-content: center;
}
input{
    width: 300px;
    height: 30px;
}
.input-group{
    align-content: center;

}
form{ align-content: center;}
#nav{
    background-color: palegreen;
    
}
.btn{
    height: 50px;
    
}
.form-vertical{border-style: groove; background-color: cadetblue;}
#POST{ background-color: darkgrey;
       height: 30px;
       

}

html{
    background-color: cornflowerblue;
}